.t-test-page {
  max-width: $test-page-width;
  margin: 0 auto;
  &__inner {
    max-width: $test-page-inner-width;
    margin: 0 auto;
    text-align: center;
    color: $color-secondary-text;
  }
  &__subtitle {
    text-align: left;
    margin: 1.8rem;
  }
}