.display-none {
  display: none !important; }

.faq-page-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: black; }

.display-none {
  display: none !important; }

* {
  box-sizing: border-box; }

.accordion {
  padding: 20px; }
  .accordion__item {
    margin-bottom: 15px;
    border-radius: 5px; }
  .accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer; }
    .accordion__header:hover .accordion__icon {
      transition: .2s; }
  .accordion__title {
    font-weight: normal;
    font-size: 1.3em; }
  .accordion__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center; }
  .accordion__icon--active {
    transition: .2s; }
  .accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    padding: 0 20px;
    text-align: left; }
  .accordion__paragraph {
    padding: 20px 30px;
    line-height: 1.5;
    border-radius: 5px; }

@media screen and (max-width: 768px) {
  .accordion__header--active + .accordion__content {
    max-height: 400px; } }

@media screen and (max-width: 576px) {
  .accordion__header--active + .accordion__content {
    max-height: 600px; } }

.accordion--theme--primary {
  color: white; }
  .accordion--theme--primary .accordion__item {
    background: #3c4053; }
  .accordion--theme--primary .accordion__header:hover .accordion__icon {
    background: white;
    color: #212838;
    transition: .2s; }
  .accordion--theme--primary .accordion__icon--active {
    background: white;
    color: #212838; }
  .accordion--theme--primary .accordion__paragraph {
    color: white;
    background: #212838; }

.accordion--theme--secondary {
  color: black; }
  .accordion--theme--secondary .accordion__item {
    background: white; }
  .accordion--theme--secondary .accordion__header:hover .accordion__icon {
    background: #3c4053;
    color: #EFEBE9;
    transition: .2s; }
  .accordion--theme--secondary .accordion__icon--active {
    background: #3c4053;
    color: #EFEBE9; }
  .accordion--theme--secondary .accordion__paragraph {
    color: black;
    background: #EFEBE9; }

* {
  box-sizing: border-box; }

.modal {
  display: none;
  opacity: 0;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .modal__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .modal__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid transparent; }
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px; }
  .modal__title {
    font-size: 2em; }
  .modal__exit-button {
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer; }
  .modal__paragraph {
    margin-bottom: 24px; }
  .modal__footer {
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal__button {
    margin: 0 5px; }

.modal--active--default {
  opacity: 1;
  display: block; }

.modal--active--fadein {
  display: block;
  animation: fadein .8s forwards; }

.modal--active--slidein {
  display: block;
  animation: fadein .5s forwards; }

.modal--active--slidein .modal__inner {
  top: 20%;
  animation: slidein .8s forwards; }

@keyframes fadein {
  100% {
    opacity: 1; } }

@keyframes slidein {
  100% {
    top: 50%;
    opacity: 1; } }

@media screen and (min-width: 576px) {
  .modal__inner {
    width: 500px; } }

.modal--theme--default .modal__background {
  background-color: rgba(26, 26, 26, 0.8); }

.modal--theme--default .modal__inner {
  border: 2px solid #1a1a1a;
  background: whitesmoke;
  color: #1a1a1a; }

.modal--theme--default .modal__exit-button {
  background: none;
  border: none;
  color: #1a1a1a; }
  .modal--theme--default .modal__exit-button:hover {
    color: #1a1a1a; }

.modal--theme--default .modal__button {
  color: #1a1a1a;
  background: whitesmoke; }
  .modal--theme--default .modal__button:hover {
    color: whitesmoke;
    background: #1a1a1a; }

.modal--theme--warning .modal__background {
  background-color: rgba(26, 26, 26, 0.8); }

.modal--theme--warning .modal__inner {
  border: 2px solid whitesmoke;
  background: #F44336;
  color: whitesmoke; }

.modal--theme--warning .modal__exit-button {
  background: none;
  border: none;
  color: whitesmoke; }
  .modal--theme--warning .modal__exit-button:hover {
    color: whitesmoke; }

.modal--theme--warning .modal__button {
  color: whitesmoke;
  background: #F44336; }
  .modal--theme--warning .modal__button:hover {
    color: #F44336;
    background: whitesmoke; }

.modal--theme--dark .modal__background {
  background-color: rgba(26, 26, 26, 0.8); }

.modal--theme--dark .modal__inner {
  border: 2px solid #F44336;
  background: #1a1a1a;
  color: #F44336; }

.modal--theme--dark .modal__exit-button {
  background: none;
  border: none;
  color: #F44336; }
  .modal--theme--dark .modal__exit-button:hover {
    color: whitesmoke; }

.modal--theme--dark .modal__button {
  color: #F44336;
  background: #1a1a1a; }
  .modal--theme--dark .modal__button:hover {
    color: whitesmoke;
    background: #F44336; }

.button {
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: #1a1a1a;
  cursor: pointer; }
  .button:hover {
    background-color: #1a1a1a;
    color: #1a1a1a; }

.modal--theme--default .modal__background {
  background-color: rgba(26, 26, 26, 0.8); }

.modal--theme--default .modal__inner {
  border: 2px solid #1a1a1a;
  background: whitesmoke;
  color: #1a1a1a; }

.modal--theme--default .modal__exit-button {
  background: none;
  border: none;
  color: #1a1a1a; }
  .modal--theme--default .modal__exit-button:hover {
    color: #1a1a1a; }

.modal--theme--default .modal__button {
  color: #1a1a1a;
  background: whitesmoke; }
  .modal--theme--default .modal__button:hover {
    color: whitesmoke;
    background: #1a1a1a; }

.modal--theme--warning .modal__background {
  background-color: rgba(26, 26, 26, 0.8); }

.modal--theme--warning .modal__inner {
  border: 2px solid whitesmoke;
  background: #F44336;
  color: whitesmoke; }

.modal--theme--warning .modal__exit-button {
  background: none;
  border: none;
  color: whitesmoke; }
  .modal--theme--warning .modal__exit-button:hover {
    color: whitesmoke; }

.modal--theme--warning .modal__button {
  color: whitesmoke;
  background: #F44336; }
  .modal--theme--warning .modal__button:hover {
    color: #F44336;
    background: whitesmoke; }

.display-none {
  display: none !important; }

.sidebar {
  position: fixed;
  left: -400px;
  top: 0;
  bottom: 0;
  width: 400px;
  background: #EFEBE9;
  border-right: 3px solid #212838;
  color: black;
  text-align: center;
  z-index: 100; }
  .sidebar--active {
    left: 0; }
  .sidebar__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; }
  .sidebar__icon {
    font-size: 1.5em;
    cursor: pointer; }
    .sidebar__icon--show {
      position: absolute;
      top: 20px;
      right: -40px;
      color: black; }

.sidebar__accordion .accordion__header--active + .accordion__content {
  max-height: 400px; }

@font-face {
  font-family: Gotham;
  src: url("GothamLight.ttf"); }

.slider-test-container {
  max-width: 1200px;
  margin: 0 auto; }

.slider {
  text-align: left;
  font-family: 'Shippori Mincho', serif;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  touch-action: none; }
  .slider a {
    text-decoration: none;
    color: #4a4a4a; }
  .slider h1, .slider h2, .slider h3, .slider h4, .slider h5, .slider h6 {
    color: #4a4a4a;
    display: block;
    margin: 0; }
  .slider__arrow {
    position: absolute;
    top: 450px;
    background: none;
    border: none;
    outline: none;
    z-index: 5;
    cursor: pointer; }
  .slider__arrow--left {
    left: 10%; }
  .slider__arrow--right {
    right: 10%; }
  .slider__inner {
    width: 100%;
    display: flex;
    padding: 20px 0;
    position: relative; }
  .slider__slide {
    min-width: 50%;
    height: 100%;
    position: relative;
    transition: 0.4s;
    padding: 0 15px; }
    .slider__slide:hover .read-more {
      text-decoration: underline; }
  .slider__slide:not(.slider__slide--current) {
    cursor: default; }
  .slider__content {
    visibility: none;
    opacity: 0;
    margin-top: 40px;
    transition: all 0.4s; }
  .slider__title {
    font-size: 26px; }
  .slider__description {
    font-size: 16px;
    margin: 30px 0 0;
    line-height: 24px; }
  .slider__action-btn {
    margin: 30px 0 0;
    text-align: right;
    padding-right: 10px; }
  .slider__slide--current {
    transition: all 0.4s;
    padding-top: 50px;
    z-index: 2;
    cursor: pointer; }
    .slider__slide--current .slider__content {
      visibility: visible;
      opacity: 1;
      transition: all 0.4s; }
    .slider__slide--current:hover .slider__image {
      transition: .3s;
      transform: scale(1.2); }
  .slider__image {
    cursor: pointer;
    transition: .3s;
    width: 100%; }

@media only screen and (max-width: 767px) {
  .slider {
    width: 100%; }
    .slider__slide {
      min-width: 80%; }
    .slider__arrow {
      display: none; }
    .slider__content {
      visibility: none;
      opacity: 0;
      margin-top: 20px;
      margin-left: -20px;
      margin-right: -20px; }
    .slider__description {
      margin: 20px 0 0; }
    .slider:hover .slider__image {
      transition: none;
      transform: none; } }

.read-more {
  color: #00732d;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  line-height: 26px; }
  .read-more:after {
    content: '';
    display: inline-block;
    position: relative;
    right: -10px;
    bottom: -3px;
    height: 22px;
    width: 13px;
    background: url("arrow-right-green-big.svg") no-repeat; }
