// Colors
$color-transparent: transparent;
$color-background: rgba(26, 26, 26, 0.8);
// modal-theme--default
$color-default-primary: whitesmoke;
$color-default-secondary: #1a1a1a;
$color-default-text-primary: #1a1a1a;
$color-default-text-secondary: whitesmoke;
// modal-theme--warning
$color-warning-primary: #F44336;
$color-warning-secondary: whitesmoke;
$color-warning-text-primary: whitesmoke;
$color-warning-text-secondary: #F44336;
// modal-theme--dark
$color-dark-primary: #1a1a1a;
$color-dark-secondary: #F44336;
$color-dark-text-primary: #F44336;
$color-dark-text-secondary: whitesmoke;

.m-modal {
  box-sizing: border-box;
  display: none;
  opacity: 0;
  z-index: 10;
  @include modalFixedPosition(fixed);
  &__background {
    @include modalFixedPosition(absolute);
  }
  &__inner {
    @include positionCenter(absolute);
    padding: 1.5rem;
    width: 90%;
    border-radius: 5px;
    border: 2px solid $color-transparent;
    @include mq-phone-up {
      width: 500px;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem
  }
  &__title {
    font-size: 2rem;
  }
  &__exit-button {
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
  }
  &__paragraph {
    margin-bottom: 1.5rem;
  }
  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    margin: 0 0.3rem;
  }
}

// Should be sepparate block
.button {
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  color: $color-default-text-primary;
  cursor: pointer;
  &:hover {
    background-color: $color-default-text-primary;
    color: $color-default-text-primary;
  }
}