<div class="sidebar js-sidebar">
  <div class="sidebar__title">
    <h1>Test Sidebar (Theme Secondary)</h1>
    <div class="sidebar__icon sidebar__icon--hide js-sidebar-hide"><i class="fas fa-minus"></i></div>
    <div class="sidebar__icon sidebar__icon--show js-sidebar-show"><i class="fas fa-plus"></i></div>
  </div>
</div>