<div class="o-sidebar js-sidebar">
  <div class="o-sidebar__header">
    <h1>Test Sidebar (Theme Secondary)</h1>
    <div class="o-sidebar__icon o-sidebar__icon--hide js-sidebar-hide"><i class="fas fa-minus"></i></div>
    <div class="o-sidebar__icon o-sidebar__icon--show js-sidebar-show"><i class="fas fa-plus"></i></div>
  </div>
</div>