<div class="modal {{theme}} {{enterMode}}">
  <div class="modal__background js-modal-background"></div>
  <div class="modal__inner">
    <header class="modal__header">
      <h1 class="modal__title">{{title}}</h1>
      <button class="modal__exit-button js-modal-exit-btn"><i class="fas fa-times"></i>
      </button>
    </header>
    <div class="modal__paragraph">{{text}}</div>
    <footer class="modal__footer">
      <!-- This gon be if else when template -->
      <button class="button modal__button">Accept</button>
      <button class="button modal__button">Decline</button>
    </footer>
  </div>
</div>