<section class="m-accordion{{#each modifiers}} m-accordion--{{this}}{{/each}}">
  {{#each accordionData}}
  <div class="m-accordion__item">
    <div class="m-accordion__header js-accordion-header">
      <h1 class="m-accordion__title">{{title}}</h1>
      <span class="m-accordion__icon js-acordion-icon">
        <i class="fas fa-plus"></i>
      </span>
      <span class="m-accordion__icon js-acordion-icon display-none">
        <i class="fas fa-minus"></i>
      </span>
    </div>
    <div class="m-accordion__content js-accordion-content">
      <p class="m-accordion__paragraph js-accordion-paragraph">
        {{text}}
      </p>
    </div>
  </div>
  {{/each}}
</section>