<div class="t-test-page">
  <div class="t-test-page__inner">
    <h1 class="t-test-page__title">Some Test Page</h1>
    <h2 class="t-test-page__subtitle">1. Accordion</h2>
    {{!-- Ovo imenovanje nema smisla, ali posto ja radim neki render u handlebarsu, onda mi treba nesto sta gadjam tamo u js-u da bih pogodio roditelja koji mi treba. Koliko shvatam u terifiku tu gde stavis pattern tu se i renderuje i ne moras da gadjas nista vam ovog handlebarsa i ne moras da pravis dodatne wrappere oko i unutar bootstrap containera. --}}
    <h3 class="t-test-page__subtitle">Single Accordion - Primary Theme</h3>
    {{!-- Da li je ovaj container uopste potreban? --}}
    <div class="container">
      <div class="row">
        <div class="col-12 my-col-1"></div>
      </div>
    </div>

    <h3 class="t-test-page__subtitle">Double Accordions - Secondary & Primary Theme</h3>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-9 my-col-2"></div>
        <div class="col-md-6 col-xl-3 my-col-3"></div>
      </div>
    </div>

    <h3 class="t-test-page__subtitle">2. Modal</h3>
    <h4 class="t-test-page__subtitle">Default Theme</h4>
    <div class="container">
      <div class="row">
        <div class="col-12 my-col-4"></div>
      </div>
    </div>
    <h4 class="t-test-page__subtitle">Dark Theme</h4>
    <div class="container">
      <div class="row">
        <div class="col-12 my-col-5"></div>
      </div>
    </div>
    <h4 class="t-test-page__subtitle">Warning Theme</h4>
    <div class="container">
      <div class="row">
        <div class="col-12 my-col-6"></div>
      </div>
    </div>

    <br>
    <br>
    <h2 class="t-test-page__subtitle">3. Slider MH (Mann+Hummel)</h2>
    <div class="container">
      <div class="row">
        <div class="col my-col-7"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col my-col-8"></div>
    </div>
  </div>

</div>
</div>