// Primary Theme - accordion-primary

// Color
$color-primary: #3c4053;
$color-primary-dark: #212838;
$color-primary-text: white;

$color-secondary: white;
$color-secondary-dark: #EFEBE9;
$color-secondary-text: black;

.m-accordion--primary {
  color: $color-primary-text;
  .m-accordion__item {
    background: $color-primary;
  }
  .m-accordion__header {
    &:hover .m-accordion__icon {
      background: $color-secondary;
      color: $color-primary-dark;
      transition: .2s;
    }
  }
  .m-accordion__icon--active {
    background: $color-secondary;
    color: $color-primary-dark;
  }
  .m-accordion__paragraph {
    color: $color-primary-text;
    background: $color-primary-dark;
  }
}