// Secondary Theme - accordion-secondary

// Color
$color-primary: #3c4053;
$color-primary-dark: #212838;
$color-primary-text: white;

$color-secondary: white;
$color-secondary-dark: #EFEBE9;
$color-secondary-text: black;

.m-accordion--secondary {
  color: $color-secondary-text;
  .m-accordion__item {
    background: $color-secondary;
  }
  .m-accordion__header {
    &:hover .m-accordion__icon {
      background: $color-primary;
      color: $color-secondary-dark;
      transition: .2s;
    }
  }
  .m-accordion__icon--active {
    background: $color-primary;
    color: $color-secondary-dark;
  }
  .m-accordion__paragraph {
    color: $color-secondary-text;
    background: $color-secondary-dark;
  }
}