// Secondary Theme - accordion-secondary

.m-accordion--secondary {
  color: $color-secondary-text;
  .m-accordion__item {
    background: $color-secondary;
  }
  .m-accordion__header {
    &:hover .m-accordion__icon {
      background: $color-primary;
      color: $color-secondary-dark;
    }
  }
  .m-accordion__icon {
    background: $color-secondary;
    color: $color-primary-dark;
  }
  .m-accordion__paragraph {
    color: $color-secondary-text;
    background: $color-secondary-dark;
  }
}