@font-face { font-family: Gotham; src: url('fonts/GothamLight.ttf'); }
// Variables
$main-color: #4a4a4a;
$sliderMH-width-full: 100%; // iz nekog razloga deljenje sa % radi samo kad delim variablu, ne 100% / 2 npr.

// Slider MH
.slider {
  text-align: left;
  font-family: 'Shippori Mincho', serif;
  width: $sliderMH-width-full;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  touch-action: none;
  @include mq-tablet-down {
    width: $sliderMH-width-full;
    &:hover .slider__image {
      transition: none;
      transform: none;
    }
  }
  & a { //Zeza text decoration pa mora ovako
    text-decoration: none;
    color: $main-color;
  }
  &__arrow {
    position: absolute;
    top: 450px;
    background: none;
    border: none;
    outline: none;
    z-index: 5;
    cursor: pointer;
    @include mq-tablet-down {
      display: none;
    }
  }
  &__arrow--left {
    left: 10%;
  }
  &__arrow--right {
    right: 10%;
  }
  &__inner {
    width: 100%;
    display: flex;
    padding: 1.3rem 0;
    position: relative;
  }
  &__slide {
    min-width: $sliderMH-width-full / 2;
    height: 100%;
    position: relative;
    transition: 0.4s;
    padding: 0 1rem;
    &:hover .read-more {
      text-decoration: underline;
    }
    @include mq-tablet-down {
      min-width: $sliderMH-width-full / 1.25;
    }
  }
  &__slide:not(.slider__slide--current){
    cursor: default;
  }
  &__content {
    visibility: none;
    opacity: 0;
    margin-top: 2.5rem;
    transition: all 0.4s;
    @include mq-tablet-down {
      visibility: none;
      opacity: 0;
      margin-top: 1.3rem;
      margin-left: -1.3rem;
      margin-right: -1.3rem;
    }
  }
  &__title {
    font-size: 1.65rem;
  }
  &__description {
    font-size: 1rem;
    margin: 1.8rem 0 0;
    line-height: 1.5rem;
    @include mq-tablet-down {
      margin: 20px 0 0;
    }
  }
  &__action-btn {
    margin: 1.8rem 0 0;
    text-align: right;
    padding-right: 0.6rem;
  }
  &__slide--current {
    transition: all 0.4s;
    padding-top: 3.1rem;
    z-index: 2;
    cursor: pointer;
    .slider__content {
      visibility: visible;
      opacity: 1;
      transition: all 0.4s;
    }
    &:hover .slider__image {
      transition: .3s;
      transform: scale(1.2);
    }
  }
  &__image {
    cursor: pointer;
    transition: .3s;
    width: 100%;
  }
}

// General?
.read-more {
  color: #00732d;
  font-size: 1.125rem;
  line-height: 1.6rem;
  font-weight: bold;
  line-height: 1.6rem;
  &:after {
    content: '';
    display: inline-block;
    position: relative;
    right: -0.625rem;
    bottom: -0.187rem;
    height: 1.375rem;
    width: 0.812rem;
    background: url('images/arrow-right-green-big.svg') no-repeat;
  }
}